<ion-header>
  <ion-toolbar color="blue">
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   
    <ion-title>{{productos.Nombre}} </ion-title>

    <ion-buttons slot="end" *ngIf="rol === 'Authenticated'">

      <ion-button (click)="editar()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="eliminar()">
      <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content>

 

 <ion-grid class="ion-no-padding">
    <ion-row>
     
      <ion-col size="12" id="imagen_producto" style="background-image: url({{productos.ImagenURL}});"> </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="0.5"></ion-col>
      <ion-col size="11"> <h5> Articulo: {{productos.Nombre}}</h5> </ion-col>
      <ion-col size="0.5"></ion-col>     
    </ion-row>
    
    <ion-row>
      <ion-col size="0.5"></ion-col>
      <ion-col size="11"> <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p></ion-col>
      <ion-col size="0.5"></ion-col>     
    </ion-row>
    
    <ion-row>
      <ion-col size="0.5"></ion-col>
      <ion-col size="11"> <p> {{ "Color:" + productos.Color}} </p></ion-col>
      <ion-col size="0.5"></ion-col>     
    </ion-row>



    <ion-row>
      <ion-col size="0.5"></ion-col>
      <ion-col size="11"  *ngIf="productos.Stock === true else sinStock">
         <p> Stock: Disponible </p></ion-col>
         <ion-col> 
          <ng-template #sinStock> <ion-text> Stock: No Disponible </ion-text> 
          
          </ng-template>              
        </ion-col>
      <ion-col size="0.5"></ion-col>     
    </ion-row> 

  </ion-grid>

  {{carros}} 

</ion-content>

 <ion-footer>

    

      
      <ion-button color="danger" id="boton_comprar" (click)="comprarProducto()" *ngIf="productos.Stock === true ; else sinStock_footer "> Comprar por: {{"CLP$" + productos.Precio}}  </ion-button>
      <ng-template #sinStock_footer> 
        <ion-button color="warning"  id="boton_comprar"> Articulo no disponible</ion-button>
      </ng-template>

</ion-footer>
 




