<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ionic-button (click)="volverCategoria()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ionic-button>
    </ion-buttons>
    <ion-title>INDIANA JEANS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="selectTabs" style="background-color: white;">
    <ion-segment-button value="Chaqueta" (click)="filtrarRopa('Chaqueta')">
      <ion-label> Chaqueta</ion-label>  
    </ion-segment-button>
    <ion-segment-button (click)="filtrarRopa('Pantalon')">
      <ion-label> Pantalones</ion-label>  
    </ion-segment-button>
    <ion-segment-button (click)="filtrarRopa('Camisa')">
      <ion-label> Poleras</ion-label>  
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'Chaqueta'">
    <h3>  </h3>
    
  </div>
  
<!-- 
    <ion-item *ngFor="let p of productos" [routerLink]="['/productos', p.id]"> 

      <ion-avatar> <ion-img [src]="p.imagen "> </ion-img> </ion-avatar>
      <p>{{p.nombre}}</p>
      

    </ion-item> -->

<ion-grid>
  <ion-row>
    <ion-col > 
      <ion-row>
          <ion-col size="6" *ngFor="let p of productos" [routerLink]="['/productos', p.id]">
            <ion-row>
              <ion-col size="12" style="background-image: url({{p.imagen}}); background-repeat: no-repeat; background-size: cover; height: 200px;"> </ion-col>
              <ion-col size="12" style="background-color: white; height: 30px; font-weight: bolder; color: rgb(56, 56, 56); text-align: left;"> {{p.nombre}} </ion-col>
              <ion-col size="12" style="background-color: white; height: 30px; font-weight: bolder; color: rgb(56, 56, 56); text-align: left;"> {{"CLP$"+p.precio}}</ion-col>
            </ion-row>
          </ion-col>                  
      </ion-row>
    </ion-col>   
  </ion-row>
</ion-grid>
   



<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="agregarProducto()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  
</ion-fab>

</ion-content>

<!-- <ion-footer id="footer" style="height: 50px;">
      
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/categorias']">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Categorias</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/productos']">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
 -->