<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio de sesion</ion-title>
  </ion-toolbar>
</ion-header>
 


<ion-content class="ion-padding">
 
 
  
 
      
      <form #form="ngForm" (ngSubmit)="login(form)"> 
        <ion-card-header>
          <ion-card-title class="ion-text-center">Registrate</ion-card-title>
        </ion-card-header>
 
     
     
            
          <ion-item >
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text" placeholder="Ingresar correo" name="usuario"  ngModel required></ion-input>
          </ion-item>
 
           <ion-item >
            <ion-label position="stacked">Contrasena</ion-label>
            <ion-input type="password" placeholder="Ingresar contrasena" name="contrasenia" ngModel required> </ion-input>           
          </ion-item>
 
          <ion-button  expand="block" type="submit">Iniciar sesion</ion-button>
          
        </form>   
<!-- 
        <form #form="ngForm" (ngSubmit)="login(form)"> 
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-input name="usuario" type="text" placeholder="ingrese usuario" ngModel required> </ion-input>
                  <ion-input name="contrasenia" type="password" placeholder="ingrese password" ngModel required> </ion-input>

                  <ion-button type="submit" > </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
        </form>  -->
       
    
  
 
</ion-content>