#search-toolbar {
  padding-left: 10px;
  padding-right: 10px;


}

#logo-principal .ion-text-center {
  background-color: black;
}

#logo-principal .ion-text-center h1 {
  color: white;
}

#footer {

  height: 100px;
}

.catpro {
  color: gray;
  text-align: center;
}